/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.form-price{
  border: none;
  width: 100px;
}
.right {
  text-align: right;
}
.bg-color1 {
  background-color: #2596be;
}
.f-color1 {
  color: #2596be;
}
.f-color2 {
  color: #ff7e00;
}
.b-color1 {
  border-color: #2596be;
}
.red {
  color: red !important;
}
.none {
  display: none;
}
#item-img {
  height: 250px;
  width: 250px;
  background-size: cover;
  background-size: 130%;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  cursor: pointer;
  text-align: center;
  opacity: 0.8;
  background-color: #ccc;
  color: #fff;
}
.page-cetak{
  height: 1200px !important;
  max-width: 1000px !important; 
  background-color: #fff;
  margin: auto;
  padding: 50px !important;
}
